{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "rules": {
    "space-before-blocks": ["error", "always"],
    "no-var": "error",
    "vars-on-top": "warn",
    "no-multiple-empty-lines": [
      "warn",
      {
        "max": 1,
        "maxEOF": 0
      }
    ],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "block-like",
        "next": "*"
      }
    ],
    "object-curly-spacing": [
      "error",
      "always",
      {
        "objectsInObjects": false
      }
    ],
    "no-unused-vars": "warn",
    "prefer-const": "error",
    "no-console": "warn",
    "quotes": ["error", "single"],
    "jsx-quotes": ["error", "prefer-double"],
    "indent": ["warn", 2],
    "comma-dangle": ["error", "always-multiline"],
    "semi": ["warn", "always"],
    "import/order": ["warn", {"groups": ["builtin", "external", "internal",
      "parent", "sibling", "index"],
    "newlines-between": "always",
    "pathGroups": [
      {
        "pattern": "@/**",
        "group": "builtin",
        "position": "before"
      }
    ]}],
    "no-new-wrappers": "error",
    "no-throw-literal": "error",
    "import/no-unresolved": "off",
    "newline-before-return": "warn",
    "newline-after-var": "warn"
  }
}
